unpacked/skins_extracted/XfireSkin.dtd

<!ELEMENT XfireSkin (SkinDescription,GlobalPrefs?,Strings+,Themes?,Components,MainSkin,ChatSkin,GroupChatSkin,InGameMainSkin,InGameAlertSkin,Popups?)>
 
     <!-- SkinsDescription definition -->
     <!ELEMENT SkinDescription (Author*,Website?,Name,LongName,Version,CompatibleVersion,License?)>
     <!ELEMENT Author (#PCDATA)>
        <!ATTLIST Author Type (original|contributor) "original">
     <!ELEMENT Website (#PCDATA)>
     <!ELEMENT Name (#PCDATA)>
     <!ELEMENT LongName (#PCDATA)>
     <!ELEMENT Version (#PCDATA)>
     <!ELEMENT CompatibleVersion (#PCDATA)>
     <!ELEMENT License (#PCDATA)>
 
     <!-- GlobalPrefs definition -->
     <!ELEMENT GlobalPrefs (TooltipColor?,TooltipTextColor?,OnlineSound?,OfflineSound?)>
     <!ELEMENT TooltipColor (#PCDATA)>
     <!ELEMENT TooltipTextColor (#PCDATA)>
     <!ELEMENT OnlineSound (#PCDATA)>
     <!ELEMENT OfflineSound (#PCDATA)>
 
     <!-- Strings definition -->
     <!ELEMENT Strings (String*)>
        <!ATTLIST Strings Lang CDATA "default">
     <!ELEMENT String (#PCDATA)>
        <!ATTLIST String Name CDATA #REQUIRED>
        <!ATTLIST String ResourceId CDATA #IMPLIED>
 
     <!-- Themes definition -->
     <!ELEMENT Themes (Theme*)>
     <!ELEMENT Theme (Colors?,ColorShifts?,Sounds?,Bitmaps?)>
 
     <!ELEMENT Colors (Color*)>
     <!ELEMENT Color (#PCDATA)>
        <!ATTLIST Color Red CDATA #IMPLIED>
        <!ATTLIST Color Green CDATA #IMPLIED>
        <!ATTLIST Color Blue CDATA #IMPLIED>
        <!ATTLIST Color Alpha CDATA #IMPLIED>
 
     <!ELEMENT ColorShifts (ColorShift*)>
     <!ELEMENT ColorShift (#PCDATA)>
        <!ATTLIST ColorShift Red CDATA #IMPLIED>
        <!ATTLIST ColorShift Green CDATA #IMPLIED>
        <!ATTLIST ColorShift Blue CDATA #IMPLIED>
        <!ATTLIST ColorShift Alpha CDATA #IMPLIED>
 
     <!ELEMENT Sounds (Sound*)>
     <!ELEMENT Sound (#PCDATA)>
        <!ATTLIST Sound Name CDATA #REQUIRED>
        <!ATTLIST Sound ResourceId CDATA #IMPLIED>
 
     <!ELEMENT Bitmaps (Bitmap*)>
     <!ELEMENT Bitmap (#PCDATA)>
        <!ATTLIST Bitmap Name CDATA #REQUIRED>
        <!ATTLIST Bitmap ResourceId CDATA #IMPLIED>
 
     <!-- Window definitions -->
     <!ELEMENT MainSkin (Tile)>
     <!ELEMENT ChatSkin (Tile)>
     <!ELEMENT GroupChatSkin (Tile)>
     <!ELEMENT InGameAlertSkin (Tile)>
     <!ELEMENT InGameMainSkin (Tile)>
 
     <!-- Tiles definition (Layout) -->
     <!ELEMENT Tile (Tile*)>
        <!ATTLIST Tile Name CDATA #REQUIRED>
        <!ATTLIST Tile AlignX (left|center|right) #IMPLIED>
        <!ATTLIST Tile AlignY (top|center|bottom) #IMPLIED>
        <!ATTLIST Tile Top CDATA #IMPLIED>
        <!ATTLIST Tile Left CDATA #IMPLIED>
        <!ATTLIST Tile Bottom CDATA #IMPLIED>
        <!ATTLIST Tile Right CDATA #IMPLIED>
        <!ATTLIST Tile Width CDATA #IMPLIED>
        <!ATTLIST Tile Height CDATA #IMPLIED>
        <!ATTLIST Tile Component CDATA #REQUIRED>
        <!ATTLIST Tile MinWidth CDATA #IMPLIED>
        <!ATTLIST Tile MinHeight CDATA #IMPLIED>
        <!ATTLIST Tile DefaultWidth CDATA #IMPLIED>
        <!ATTLIST Tile DefaultHeight CDATA #IMPLIED>
        <!ATTLIST Tile ResizeX CDATA #IMPLIED>
        <!ATTLIST Tile ResizeY CDATA #IMPLIED>
        <!ATTLIST Tile X CDATA #IMPLIED>
        <!ATTLIST Tile Y CDATA #IMPLIED>
        <!ATTLIST Tile Z CDATA #IMPLIED>
        <!ATTLIST Tile IndentLeft CDATA #IMPLIED>
        <!ATTLIST Tile IndentRight CDATA #IMPLIED>
        <!ATTLIST Tile IndentTop CDATA #IMPLIED>
        <!ATTLIST Tile IndentBottom CDATA #IMPLIED>
        <!ATTLIST Tile JustX CDATA #IMPLIED>
        <!ATTLIST Tile JustY CDATA #IMPLIED>
        <!ATTLIST Tile BindX CDATA #IMPLIED>
        <!ATTLIST Tile BindY CDATA #IMPLIED>
        <!ATTLIST Tile OutdentLeft CDATA #IMPLIED>
        <!ATTLIST Tile OutdentRight CDATA #IMPLIED>
        <!ATTLIST Tile OutdentTop CDATA #IMPLIED>
        <!ATTLIST Tile OutdentBottom CDATA #IMPLIED>

     <!-- Components definition (Layout) -->
     <!ELEMENT Components (Component*)>
     <!ELEMENT Component (Triggers?,Images*,Text*,Popup?,ProgressBar?)>
        <!ATTLIST Component Name CDATA #REQUIRED>
        <!ATTLIST Component Default CDATA #IMPLIED>
        <!ATTLIST Component Class CDATA #IMPLIED>
        <!ATTLIST Component Stretch CDATA #IMPLIED>
        <!ATTLIST Component Events CDATA #IMPLIED>
        <!ATTLIST Component Tooltip CDATA #IMPLIED>
        <!ATTLIST Component Accelerator CDATA #IMPLIED>
        <!ATTLIST Component Cursor CDATA #IMPLIED>
        <!ATTLIST Component ControlGroupId CDATA #IMPLIED>
        <!ATTLIST Component TooltipColor CDATA #IMPLIED>
        <!ATTLIST Component TooltipTextColor CDATA #IMPLIED>
        <!ATTLIST Component MouseOver CDATA #IMPLIED>
        <!ATTLIST Component DisabledTooltip CDATA #IMPLIED>
        <!ATTLIST Component WindowFocus CDATA #IMPLIED>
        <!ATTLIST Component Color CDATA #IMPLIED>
        <!ATTLIST Component Scrollbar CDATA #IMPLIED>
        <!ATTLIST Component PushType CDATA #IMPLIED>
        <!ATTLIST Component GroupId CDATA #IMPLIED>
        <!ATTLIST Component CaretColor CDATA #IMPLIED>
        <!ATTLIST Component SelectionSelectorColor CDATA #IMPLIED>
        <!ATTLIST Component SelectionColor CDATA #IMPLIED>
        <!ATTLIST Component SelectionColorInActive CDATA #IMPLIED>
        <!ATTLIST Component SelectionTextColor CDATA #IMPLIED>
        <!ATTLIST Component SelectionTextColorInActive CDATA #IMPLIED>
 
    <!ELEMENT Triggers (Trigger*)>
    <!ELEMENT Trigger (#PCDATA)>
        <!ATTLIST Trigger Type (OnInit|OnAppStartRefreshServers|OnAppStopRefreshServers|OnDownloadComplete|OnActivate|OnDeactivate|OnLeftClick|OnRightClick|OnLeftButtonDown|OnRightButtonDown|OnLeftDoubleClick|OnRightDoubleClick|OnXfireUrlDownload) #IMPLIED>
  
    <!ELEMENT Images (Image*)>
        <!ATTLIST Images State (normal|hover|disabled|overlay) #IMPLIED>
        <!ATTLIST Images Color CDATA #IMPLIED>
        <!ATTLIST Images HeaderColor CDATA #IMPLIED>
        <!ATTLIST Images ColorShift CDATA #IMPLIED>
    
    <!ELEMENT Image (#PCDATA)>
        <!ATTLIST Image Type (topleft|top|topright|left|middle|right|bottomleft|bottom|bottomright|headerleft|headermiddle|headerright|headerarrowup|headerarrowdown|headercollapsed|headerexpanded) #IMPLIED>
    
    <!ELEMENT Popup (#PCDATA)>
        <!ATTLIST Popup SaveState CDATA #IMPLIED>

    <!ELEMENT ProgressBar (#PCDATA)>
        <!ATTLIST ProgressBar OutlineColor CDATA #IMPLIED>
        <!ATTLIST ProgressBar BGColor CDATA #IMPLIED>
        <!ATTLIST ProgressBar FillColor CDATA #IMPLIED>
        <!ATTLIST ProgressBar TextColor CDATA #IMPLIED>
        <!ATTLIST ProgressBar Radius CDATA #IMPLIED>
        <!ATTLIST ProgressBar FillRadius CDATA #IMPLIED>
    
    <!ELEMENT Text (#PCDATA)>
        <!ATTLIST Text Font CDATA #IMPLIED>
        <!ATTLIST Text State CDATA #IMPLIED>
        <!ATTLIST Text Size CDATA #IMPLIED>
        <!ATTLIST Text Bold CDATA #IMPLIED>
        <!ATTLIST Text Italic CDATA #IMPLIED>
        <!ATTLIST Text Background CDATA #IMPLIED>
        <!ATTLIST Text color_friend CDATA #IMPLIED>
        <!ATTLIST Text color_fof CDATA #IMPLIED>
        <!ATTLIST Text color_offline CDATA #IMPLIED>
        <!ATTLIST Text color_selected CDATA #IMPLIED>
        <!ATTLIST Text color_nonfocus CDATA #IMPLIED>
        <!ATTLIST Text color_selectedtext CDATA #IMPLIED>
        <!ATTLIST Text color_header CDATA #IMPLIED>
    
    <!ELEMENT Popups (Tile+)>